@import url('https://fonts.googleapis.com/css?family=Dosis|Istok+Web');
body {
  line-height: initial;
  font-family: 'Istok Web', sans-serif;
}
header {
  position: relative;
}
.hero-image {
  display: inline-block;
  position: relative;
}
.hero-text-container {
  text-align: center;
  top: 0;
  position: absolute;
  width: 100%;
}
.hero-text{
  margin: 100px auto;
}
.hero-text, .action {
  font-family: 'Istok Web';
  color: white;
  font-size: 32px;
  text-transform: uppercase;
  max-width: 800px;
}
section {
  display: flex;
  flex-direction: column;
}
.section-title {
  padding: 24px 0;
}
section.description h1 {
  max-width:  420px;
  margin: 0 auto;
  color: #a2a3a6;
}
section.services {
  padding: 56px 0;
}
section.rendez-vous {
  background: #85909B;
  color: white;
  padding: 48px;
}
section.location {
  height: 600px;
  background-image: url("img/location-bureau.jpg")
}
section.location .description {
  background: white;
  opacity: 0.9;
  margin-top: 42px;
  padding: 36px;
}
nav.ui.grid {
  height: 160px;
  padding-top: 30px;
}
footer {
  padding: 36px;
}
footer a {
  color: black;
  padding: 0 16px;
}
h1 {
  font-size: 36px;
  padding: 36px 0;
}
h2 {
  text-transform: uppercase;
  margin: 0 auto;
  display: table;
  padding: 10px 0px;
  position: relative;
  line-height: 1.3em;
  border-bottom: 1px solid #222;
  margin-top: 0;
  color: #a2a3a6;
  border-color: #a2a3a6;
}
h2:before, h2:after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  left: 50%;
  position: absolute;
  bottom: -14px;
  border: 8px solid transparent;
  border-top-color: #000/* imitate line border color*/;
  margin-left: -5px;
  margin-bottom: -2px;
  border-top-color: #a2a3a6;
}
h2:after {
  border-top-color: rgba(233, 233, 233, 0.31) !important;
}
.professionnels .image {
  height: 260px;
}
.services img {
  height: 180px;
}
.light.gray.background {
  background: #F8F8F8;
}
.medium.gray.background {
  background: #85909B;
}
.rv-logo {
  border-radius: 50%;
}
.ui.cards>.card>.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ui.cards>.card>.image>img,
.professionnel-portrait img {
  border-radius: 50%;
  margin: 0 auto;
  width: initial;
}
/* semantic-ui overrides */
.ui.secondary.pointing.menu {
  border: 0;
}
.ui.basic.button.white {
  background: white!important;
}
.large-width {
  max-width: 1200px;
  margin: 0 auto!important;
}
.medium-width {
  max-width: 800px;
  margin: 0 auto!important;
}
.professionel-nom {
  font-size: 3em;
  color: #333333;
  font-family: 'Dosis', sans-serif;
}
.description-sommaire {
  font-size: 1.4em;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 32px;
}
.professionnel-portrait {
  padding-bottom: 56px;
}
.professionnel-description {
  padding: 56px 0;
}